*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: black;
}

input {
    width: 150px;
    height: 20px;
    padding: 10px;

    border: 2px solid black;
    border-radius: 10px;

    text-align: center;
    font-size: 15px;
}

/* #live-container = div de testes */
#live-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: calc(100%-20px);
    height: fit-content;
    padding: 5px 20px;
    margin: 0px;
    
    text-align: center;
    color: rgb(220, 220, 220);
    background-color: rgba(255, 127, 127, 0.2);
}

#live-container h1{
    width: 100%;
    height: fit-content;
    
    font-size: 20px;
}

#live-container h2{
    width: 100%;
    height: fit-content;


    font-size: 15px;
    overflow-wrap: break-word;
    color: indianred;
}

/* #list-container = div que contém o título, o input e a lista não-ordenada correspondente aos valores guardados no array */
#list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px 0px;

    min-width: 100px;
    width: fit-content;
    height: fit-content;
    padding: 15px 20px;
    margin: 50px auto;
    
    background-color: gold;
    border: 1px dashed;
    border-radius: 20px;
}

#list-container h1{
    border-bottom: 2px solid;
}

#list-container h2{
    font-size: medium;
}

#list-container ul{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: fit-content;

}

#list-container li:first-of-type{
    border-top: 2px solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 15px;
}

#list-container li:last-of-type{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 5px;
}

#list-container li{
    width: 150px;
    height: fit-content;
    padding: 5px;
    
    background-color: rgb(150, 100, 255);
    border-inline: 2px solid;
    border-bottom: 2px solid;
    list-style: none;
    text-align: center;
    overflow-wrap: break-word;
}

/* Modificações ao passar o mouse sobre cada item da lista */
#list-container li:hover{
    background-color: rgb(100, 50, 205);
    cursor: pointer;
    list-style: none;
}